body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
  }

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 90px 50px 90px;
    gap: 70px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    white-space: nowrap;
}

.header-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: nowrap;
}
.header-link {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
    white-space: nowrap;
    overflow: hidden;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-message-one{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-message-two{
    font-size: 18px;
    color: #E5E7EB;

}
.header-body-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:baseline;

}
.header-body-right {
    width: 30%;
    border-radius: 9px;
}

.signup-button {
    background-color: #3882f6;
    color: white;
    border-radius: 9px;
    font-weight: 900;
    font-size: larger;
    border: none;
    width: 120px;
    height: 40px;
}

.gallery {
    display: flex;
    flex-direction: column;
    padding: 30px 150px;
    gap: 40px;

}

.gallery-header {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 150px;
}

.card-image{
    width: 100%;
    border: 5px solid #3882f6;
    border-radius: 9px;
}

.subtext {
    width: 100%;
    text-align: center;
    color: #1F2937;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 140px 280px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 25px;
    font-weight: 900;
    color: #1F2937;
    text-align: right;
}

.ads-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 200px;
}
.ads-wrapper{
    display:flex;
    background-color: #3882f6;
    padding: 40px 30px;
    border-radius: 11px;
    gap: 250px;

}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #3882f6;

}

.main-ads{
    color:#E5E7EB;
    font-weight: 900;
    font-size: 120%;

}

.sub-ads{
    color:#E5E7EB;
}

.signup-button2 {
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 120%;
    font-weight: 900;
}   