body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
  }

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 90px 50px 90px;
    gap: 70px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    white-space: nowrap;
}

.header-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: nowrap;
}
.header-link {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
    white-space: nowrap;
    overflow: hidden;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-message-one{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-message-two{
    font-size: 18px;
    color: #E5E7EB;

}
.header-body-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:baseline;

}
.header-body-right {
    width: 30%;
    border-radius: 9px;
}

.signup-button {
    background-color: #3882f6;
    color: white;
    border-radius: 9px;
    font-weight: 900;
    font-size: larger;
    border: none;
    width: 120px;
    height: 40px;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
}

.card {
    max-width: 90px;
}
